.Header {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.Hero {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}

.Hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 240px;
}

.Hero-button {
    max-width: 120px;
}

ul {
    list-style: none;
}