* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    vertical-align: baseline;
}

.HH-bkg, .footer {
    background-color: #1F2937;
}

.phasethree {
    background-color: #E5E7EB;
}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 48px;
}

.phasetwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 240px;
}

.Header, .Hero, .phasefour {
    margin: 0 160px;
}

.phasefour {
    margin: 48px 160px;
    padding: 24px 0px;
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 10px;
}

.left, .right {
    display: flex;
    align-items: center;
}

.left {
    font-size: 24px;
    color: #f9faf8;
    font-size: 24px;
}

.right {
    gap: 16px;
}

.Hero {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

.Hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 360px;
    gap: 8px;
}

.HT-main {
    font-size: 48px;
    font-weight: 800;
}

.Hero-text, a, .Hero-button {
    font-size: 18px;
    color: #E5E7EB;
}

.Hero-button {
    max-width: 120px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 4px 0;
    border: none
}

.p2secondrow {
    display: flex;
    text-align: center;
    gap: 52px;
    padding-bottom: 90px;
}

.p2txt {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

.RItxt {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 36px 0
}

.p3quote {
    display: flex;
    flex-direction: column;
    padding: 120px 240px;
}

.quote, .quoter {
    display: flex;
}

.quote {
    justify-content: flex-start;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quoter {
    justify-content: flex-end;
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
}

.ctact {
    display: flex;
    flex-direction: column;
}

.c2abutton {
    padding: 8px 24px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #f9faf8;
    color: #f9faf8;
}

.ctactmain {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.ctactsub {
    color: #f9faf8;
    font-weight: lighter;
    font-size: 18px;
}

.footer {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    color: #f9faf8;
}

ul {
    list-style: none;
}